html { font-size: calc(1em + 1vw) }

body{
    font-family: 'Rubik', sans-serif;
}
     
  
        
        h4 {
           
            font-size: 1em;
        }
        
        h5 {
         
            font-size: .7em;
           
        }
        
        .carousel-inner img {
            margin: auto;
          }
        
        h6 {
           
         
            font-size: .5em;
        
        }
        
    
        .form-group{
            padding-bottom: 30px;
        }


     form{
        border:   1px solid yellow"
     }

    
        .col {
            text-align: center;
          
            padding-top: 5px;

        }

        .container {
            text-align: center;
            /* margin-top: 5px; */
            max-width: 1200px;
        }

        .row {
            text-align: center;
           

        }

    

        p {
            text-align: left;
            color: white!important;
        }

     .card-body{
        background: rgb(4, 4, 51);

     }

        h3 {
            color: white !important;
            text-align: left;
        }

        h4 {
            color: white !important;
        }

        h5 {
            color: black !important;
        }

     h2 {
         text-align: center;
     }

        h6 {
           
            color: white !important;
           
        }
        label{
            text-align: left!important;
        }
h1 {color: black !important}
     